$black:           #000000;
$white:           #FFFFFF;

$grey-1:          #F3F3F3;
$grey-2:          #CCCCCC;
$grey-3:          #A5A5A5;

$brown-1:         #F6F2EC;
$brown-2:         #E3D8D2;
$brown-3:         #8D734B;
$brown-9:         #2B240C;
$brown-10:        #1C1914;

$orange-1:        #F5E6D0;
$orange-4:        #FFA31A;
